<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="favicon.ico" />
    <title>tsclock</title>
  </head>
  <body>
    <div id="app">
      <div
        id="container"
        :style="{fontFamily: clockFontFamily, fontSize: `${clockFontSize}vw`}"
      >
        <div id="clock" ref="clock">
          <div id="hour">{{hours}}</div>
          <div
            id="colon"
            :class="colonVisibility ? '' : 'transparent'"
            ref="colon"
          >
            :
          </div>
          <div id="minute">{{minutes}}</div>
        </div>
        <div
          id="date"
          ref="date"
          :style="{fontFamily: dateFontFamily, fontSize: `${dateFontSize}vw`}"
        >
          {{formattedDate}}
        </div>
      </div>
      <div id="settings" ref="settings" v-if="!fullScreen">
        <button id="fullscreen-button" @click="requestFullScreen">
          전체화면
        </button>
        <p class="font-2x">시계 글꼴 선택</p>
        <label
          v-for="font in fonts"
          :style="{fontFamily: font}"
          class="clock-font-label"
        >
          <input
            type="radio"
            name="clock-font"
            @change="changeClockFontFamily(font)"
          />0123456789 12:34 {{font}}
        </label>
        <div>
          <label
            >시계 크기<input
              id="clock-font-size"
              type="number"
              v-model="clockFontSize"
              @change="changeClockFontSize"
              min="1" /></label
          ><button @click="()=>{clockFontSize += 1;changeClockFontSize() }">
            +</button
          ><button @click="()=>{clockFontSize -= 1;changeClockFontSize() }">
            -
          </button>
        </div>
        <label
          >콜론 위치<input
            id="clock-font-size"
            type="number"
            v-model="colonPosition"
            @change="changeColonPosition"
            step="0.1"
        /></label>
        <label>
          <input type="checkbox" v-model="colonBlink" />콜론(:) 깜빡임
        </label>
        <hr />

        <p class="font-2x">날짜 글꼴 선택</p>
        <label
          v-for="font in fonts"
          :style="{fontFamily: font}"
          class="clock-font-label"
        >
          <input
            type="radio"
            name="clock-font"
            @change="changeDateFontFamily(font)"
          />0123456789 12:34 {{font}}
        </label>
        <div>
          <label
            >날짜 크기<input
              id="clock-font-size"
              type="number"
              v-model="dateFontSize.toFixed(1)"
              @change="changeDateFontSize"
              min="1"
              step="0.1" /></label
          ><button @click="()=>{dateFontSize += 0.1;changeDateFontSize() }">
            +</button
          ><button @click="()=>{dateFontSize -= 0.1;changeDateFontSize() }">
            -
          </button>
        </div>
      </div>
    </div>
    <script src="js/vue@2.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
