body {
  margin: 0;
}
#container {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
#clock {
  width: 100vw;
  height: 75vh;
  text-align: center;
  font-family: "Chivo Mono";
  font-size: 30vw;
  line-height: 85vh;
  color: white;
}
#date {
  width: 100vw;
  height: 25vh;
  text-align: center;
  font-size: 7vw;
  color: white;
  text-align: center;
}
#fullscreen-button {
  width: 100vw;
  height: 10vh;
  font-size: 6vh;
}

@font-face {
  font-family: "Chivo Mono";
  src: url("ChivoMono-VariableFont_wght.ttf");
}
